$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

label {
  font-weight: normal;
}

.rule-options .form-control {
  width: auto;
}

.rule-options textarea.form-control {
  width: 100%;
}

.separator {
  background-color: #eee;
}

.rule-description a {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  padding: $table-cell-padding;
  margin: -$table-cell-padding;
}

.stretch {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-container {
  text-align: center;
  vertical-align: middle;
  padding: 0 !important;
}

.post-form {
  text-align: right;
}

.rule-options-cell {
  padding: 0 !important;
  border: 0px solid white !important;
  border-top: 0px solid white !important;
  border-bottom: 0px solid white !important;
}

.rule-options, .derp {
  padding: 8px;
  max-height: 200px;
  transition: max-height .1s linear;
  overflow: hidden;
}

.rule-options.nothing, .derp.nothing {
  padding: 0;
  max-height: 0;
  transition: max-height .1s ease-out;
}

.option-header {
  color: grey;
}

.options-table td {
  padding-right: 1em;
}
