$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

.separator {
  background-color: #eee;
}

.stretch {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-container {
  text-align: center;
  vertical-align: middle;
  padding: 0 !important;
}

.post-form {
  text-align: right;

  label {
    font-weight: normal;
  }
}
